.my-container{
    @apply lg:w-[1350px] lg:px-[15px] px-2 mx-auto
}

.left-content{
  height: 50vh;
  /* overflow:scroll; */
  overflow-x: hidden;
  overflow: auto;
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}


.left-content::-webkit-scrollbar { 
  display: none;  
} 

 .opacity{
    opacity: 0.6;
 }

 .image{
  transform: none !important;
 }